<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>About Me</h2>
<div class="summary">
    <p>Hi, I'm a web app developer currently getting my Master's degree from Cal State LA.
      I'm seeking opportunity to work as a Software Developer to contribute in the design and
      development of real-time projects and applications by making optimal use of the skills
      I've gained from my academic background and previous projects. I'm taking a course on Machine Learning
      this fall, which I find fascinating!</p>
      <!--<p>You can <a href="#" target="_blank">view/download my resume from here</a>.</p>-->
      <p>Besides writing code, I love to read and collect comicbooks, watch psychological thrillers and
      spend a lot of time on Reddit. I'm also into <a href = "https://www.instagram.com/javed_amit/" target="_blank">
      <strong>Street Photography</strong></a>.</p>
      <p>I like to consider myself a pop-culture aficionado. </p>
</div><!--//summary-->
</section><!--//section-->
