<div class="education-container container-block">
<h2 class="container-block-title">Education</h2>
<div class="item">
   <h4 class="degree">MS in Computer Science</h4>
   <h5 class="meta">Cal State Los Angeles</h5>
   <div class="time">Fall 2016 - Spring 2018</div>
</div><!--//item-->
<div class="item">
   <h4 class="degree">BS in Computer Science</h4>
   <h5 class="meta">BRAC University</h5>
   <h5 class = "meta">Dhaka, Bangladesh</h5>
   <div class="time">2012 - 2015</div>
</div><!--//item-->
</div><!--//education-container-->
