<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experience</h2>

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Teaching Assistant</h3>
                            <div class="time">May 2014 - December 2015</div>
                        </div><!--//upper-row-->
                        <div class="company">BRAC University, Dhaka, Bangladesh</div>
                    </div><!--//meta-->
                    <div class="details">
                      <ul>
                        <li>Provided student consultation on OOP concepts in Java, such as Polymorphism, Inheritance, Interface, Abstract, Object and Class</li>
                        <li>Assisted Professor in evaluating quizzes and exams, occasionally taking classes on topics mentioned above.</li>
                      </ul>
                    </div><!--//details-->
                </div><!--//item-->

            </section><!--//section-->
