<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experience</h2>

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Lecturer, Software Engineering</h3>
                            <div class="time">December 2015 - May 2016</div>
                        </div><!--//upper-row-->
                        <div class="company">Daffodil International University, Dhaka, Bangladesh</div>
                    </div><!--//meta-->
                    <div class="details">
                        <ul>
                          <li>Took courses on Java OOP, Fundamentals of Programming, Software Analysis and Requirements, Basics of Networking</li>
                          <li>Conducted several projects concerning software prototyping, storyboarding, use-case analysis.</li>
                        </ul>
                        </div><!--//details-->
                </div><!--//item-->



                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Teaching Assistant</h3>
                            <div class="time">May 2014 - December 2015</div>
                        </div><!--//upper-row-->
                        <div class="company">BRAC University, Dhaka, Bangladesh</div>
                    </div><!--//meta-->
                    <div class="details">
                      <ul>
                        <li>Provided student consultation on OOP concepts in Java, such as Polymorphism, Inheritance, Interface, Abstract, Object and Class</li>
                        <li>Assisted Professor in evaluating quizzes and exams, occasionally taking classes on topics mentioned above.</li>
                      </ul>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Support Operator Volunteer</h3>
                            <div class="time">January 2014 - April 2015</div>
                        </div><!--//upper-row-->
                        <div class="company">Kaan Pete Roi</div>
                    </div><!--//meta-->
                    <div class="details">
                      <ul>
                        <li>Volunteered as a support operator at Kaan Pete Roi, a suicide prevention and emotional support helpline in Bangladesh.</li>
                        </ul>
                    </div><!--//details-->
                </div><!--//item-->

            </section><!--//section-->
