<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
                <!--<div class="intro">
                    <p></p>
                </div><//intro -->
                <div class="item">
                    <span class="project-title"><a href="https://github.com/javed24/ROVER_02" target="_blank"><strong>Mars Rover Simulation</strong></a></span> -
                    <span class="project-tagline">J2EE based project running on a server built with Node.
                      Four teams worked in collaboration to share live information of their corresponding
                      rover simulations via REST service to find science materials for a given map and
                      build an AI for rover movement as well as data gathering.</span>
                </div><!--//item-->
                <div class="item">
                        <span class="project-title"><a href="https://react-bookshelf-24.firebaseapp.com/" target="_blank"><strong>React-Bookshelf</strong></a></span> -
                        <span class="project-tagline">This React app allows users to select and categorize books that they have read, 
                            currently reading or want to read in the future.It has a feature for searching 
                            from a category running on the backend.</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="https://github.com/javed24/ScoreTracker-CS5540" target="_blank"><strong>ScoreTracker Android</strong></a></span> -
                    <span class="project-tagline">Android application providing real-time and live score updates for MLB, NBA.
                      Has an embedded map that shows the users the route to a particular match venue from their current position. </span>
                </div><!--//item-->

                <div class="item">
                        <span class="project-title"><a href="https://github.com/javed24/House-Sales-Prediction" target="_blank"><strong>Predicting House Sale Price</strong></a></span> -
                        <span class="project-tagline">Predicts house sale prices in King County using Linear Regression, KNN, Decision 
                            Tree, Random Forest, Polynomial Regression and compares the results.Provides a comprehensive insight into
                            the data and feature correlation using Scatter Plot, Heatmap and Principal Component Analysis </span>
                    </div><!--//item-->
                 <div class="item">
                         <span class="project-title"><a href="https://npm-package-registration.firebaseapp.com/#/" target="_blank"><strong>NPM Package Registration - Single Page Application</strong></a></span> -
                         <span class="project-tagline">SPA built with AngularJS. Students will sign up with their desired package from NPM that they will present on. Users will be sorted in 
                             groups based on their selected package. </span>
                </div><!--//item-->

                <div class="item">
                        <span class="project-title"><a href="https://react-3c8a4.firebaseapp.com/" target="_blank"><strong>React-Youtube</strong></a></span> -
                        <span class="project-tagline">This React application allows the user to search for a youtube channel/youtuber. The result will show the
                             basic information for the channel and then show their top 10 playlists.</span>
                    </div><!--//item-->
                
                <div class="item">
                    <span class="project-title"><a href="https://github.com/javed24/Online_Store_Inventory" target="_blank"><strong>Online Store/Inventory</strong></a></span> -
                    <span class="project-tagline">Online store for anonymous users and inventory management system for store admins </span>
                </div><!--//item-->
               
            </section><!--//section-->
