<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
                <!--<div class="intro">
                    <p></p>
                </div><//intro -->
                <div class="item">
                    <span class="project-title"><a href="https://github.com/javed24/ROVER_02" target="_blank">Mars Rover Simulation</a></span> -
                    <span class="project-tagline">J2EE based project running on a server built with Node.
                      Four teams worked in collaboration to share live information of their corresponding
                      rover simulations via REST service to find science materials for a given map and
                      build and AI for rover movement as well as data gathering.</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="https://github.com/javed24/ScoreTracker-CS5540" target="_blank">ScoreTracker</a></span> -
                    <span class="project-tagline">Android application providing real-time and live score updates for MLB, NBA.
                      Has an embedded map that shows the users the route to a particular match venue from their current position. </span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">Spotify SPA</a></span> -
                    <span class="project-tagline">Single Page Application built with AngularJS that allows users
                      to fetch the details for an artist or an album using the RESTful service 
                      from the Spotify API.</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="https://github.com/javed24/Online_Store_Inventory" target="_blank">Online Store/Inventory</a></span> - <span class="project-tagline">Online store for anonymous users and inventory management system for store admins </span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="https://github.com/javed24/lodger" target="_blank">Delta</a></span> -
                    <span class="project-tagline">A web application for travelers, who need a lodging service for
                      their temporary stay in different locations away from home. Travelers can book 
                      houses and owners can post ads with rental details. </span>
                </div><!--//item-->
            </section><!--//section-->
